<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

        <div th:fragment='paginationbar'>
            <ul>
                <li th:class="${page.first} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.first}">←先頭</span>
                    <a th:if="${not page.first}" th:href="@{${url}(page=0)}">←先頭</a>
                </li>
                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                    <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
                        <span th:text='${i+1}'>1</span>
                    </a>
                </li>
                <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                    <span th:if="${page.last}">末尾➝</span>
                    <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末尾➝</a>
                </li>
            </ul>
        </div>
        
        <input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf}">
        <input type="hidden" id="url" name="url" th:value="${url}">
        
        
        
      
        <table border="1">
            <tr>
                <th>ID</th>
                <th>部屋名</th>
                <th>開始日</th>
                <th>パスワード有無</th>
            </tr>
            <tr th:each="room , stat:${rooms}">
                <td  th:id="'getRoom' + ${stat.index}"  th:text="${room.id}"></td>
                
                <td ><div th:id="'joinRoom' + ${stat.index}" th:text="${room.roomName}" ></div></td>
                <td th:text="${room.startDiscussion}"></td>
                <!-- パスワードがfalse→無のように設定できるようにする -->
                <td th:id="'hasPassword' + ${stat.index}" th:text="${room.hasPassword}"></td>
                <td ><div th:text="${stat.index}"></div></td>
            </tr>
        </table>
        	
        <input id="numberOfLogs" type="hidden" th:value="${numberOfLogs}">
        
       
        <div id="joinDialogBox" style="display:none">
       		<form th:action='@{/joinRoom/moving}' th:object="${sendJoinRoomForm}" method= 'post'>
        		<input id="joinPassword" th:field='*{joinPassword}' type='hidden'>
        		<input id="joinId" th:field='*{joinId}' type='hidden' >
        		<button>参加する！</button>
        	</form>
        </div>
      
      <script>
     	window.onload = function(){
       		const numberOfLogs = document.getElementById("numberOfLogs").value;
       		for(let i = 0; i<numberOfLogs; i++){
       			document.getElementById("joinRoom" + i).onclick = function (){
       				
       				const roomNumber = document.getElementById("getRoom" + i).textContent;
       				const hasPassword = document.getElementById("hasPassword" + i).textContent;
       				
       				
       				const joinDialogBox = document.getElementById("joinDialogBox");
       				const joinPassword = document.getElementById("joinPassword")
       				const joinId = document.getElementById("joinId");
       				//form生成でパスワード。その他情報をhiddenで送信 falseは参加しますか？ボタンで参加
       				
       				joinDialogBox.style.display = "";
       				if(hasPassword == "false"){
       					
       					// password無はnoneで固定 controller側はhasPassword falseの時の処理とtrueの時の処理を分けなくてはならない。
       					joinPassword.value = "none";
       					joinId.value = roomNumber;
       					
       					
       				}else{
       					
       					joinPassword.type = "password";
       					joinId.value = roomNumber;
       				}
       				
       			}
       			 
       		}
     	}
       </script>
       
       
      
</body>


</html>