<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/topic/sendMessage/__${room}__/roomManagement}"  method = post>
		<input type="hidden"  id="roomURL" name="roomURL" th:value="${room}">
		<input type="text"  id="roomPassword" name="roomPassword" th:text="${password}">
		<input type="text"  id="roomName" name="roomName" th:text="${name}">
		<input type="hidden"  id="deleteRoom" name="deleteRoom" value = false>
		<button>ルームの設定を変更する</button>
	</form>


	<form th:action="@{/topic/sendMessage/__${room}__/roomManagement}"  method = post>
		<input type="hidden"  id="roomURL" name="roomURL" th:value="${room}">
		<input type="hidden"  id="roomPassword" name="roomPassword" th:value="${password}">
		<input type="hidden"  id="roomName" name="roomName" th:value="${name}">
		<input type="hidden"  id="deleteRoom" name="deleteRoom" value = true>
		<button>ルームを削除</button>
	</form>

</body>
</html>