<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	
</head>
<body>
	<div th:if = "${message}">
		<p th:text = "#{message}">
	</div>
	
	<input id="email" name="email" type="email" value="">
	<button type="submit" id="resetButton">パスワードをリセットする</button>
	<input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf}">
	<script>
	document.getElementById('resetButton').onclick = function(){
		
		try{
	//SpringSecurityのCSRFトークン検証の設定。設定しないと403がでる。
		var csrfToken = document.getElementById("_csrf").value;
		var token = csrfToken.replace("XSRF-TOKEN=", "")
		
		var header = "X-CSRF-TOKEN"
	
		var mail = document.getElementById("email").value
		
		const XHR = new XMLHttpRequest();
		XHR.open('POST', '/resetPassword?mail=' + mail)
		XHR.setRequestHeader(header, token)
		
	console.log("送信しました。")
		
		XHR.send()
		}catch(e){
			document.open()
			document.write("<h1>エラーが発生しました</h1>")
			document.close()
		}
	}
	</script>
	
	
</body>
</html>