<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>

<h1>パスワードをリセットします。</h1>

<form th:action="@{/resetPassword/update}" th:object="${passwordDTO}" method=post>
<label>新しいパスワード</label>
<input id="password" name="password" type="password">

<label>新しいパスワードをもう一度入力してください</label>
<input id="matchPassword" name="matchPassword" type="password" value="">

<input id="token" name="token" value="" type="hidden">

<button id="button" type="submit">提出</button>
</form>

<div id="globalError" style="display:none">パスワードが一致していません。</div>

<div th:if="${message}">
	[[${message}]]
</div>

<script>
const getToken = document.getElementById("token");
let param = (new URL(document.location)).searchParams;
let token = param.get("token");

getToken.value = token;

window.onload = function(){
	
	const password = document.getElementById("password");
	const matchPassword = document.getElementById("matchPassword");
	const globalError = document.getElementById("globalError");
	const button = document.getElementById("button");
	button.disabled = true
	
	matchPassword.addEventListener("keyup", match);
	password.addEventListener("keyup", match);
		
	
}

function match(){
		if(password.value != matchPassword.value || matchPassword.value == ""){
			globalError.style.display = "";
			button.disabled = true
		}else{
			globalError.style.display = "none";
			button.disabled = false
		}
}
	


</script>
</body>
</html>